* {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgb(232, 232, 232);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  height: 350px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.top {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top img {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.top button {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.center {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.head {
  display: flex;
}

.head p {
  font-size: 12px;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info h5 {
  background-color: rgb(235, 235, 235);
  padding: 5px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottom p {
  font-size: 12px;
}

.bottom button {
  height: 30px;
  width: 80px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}
