/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

/* Body defaults */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

.card {
  border: 1px solid black;
  background-color: pink;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  display: inline-block;
}
